
@{
    ViewBag.Title = "Banned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Support/About...</h1>
<h4>Here you can find some info about our social network.</h4>
FrandBar is an online platform which you can use to build social networks or social relations with other people who share similar personal or career interests, activities, backgrounds or real-life connections.
Finally, thanks to FrandBar you will never lose information about your friends and other important people. You don’t need to keep in mind their dates of birth and phone numbers any more. At any moment you can check up this information via your computer.
<h4>For more details contact us with e-mail.</h4>