@model List<PL.Models.Search.SearchResultViewModel>

@{
    ViewBag.Title = "Search";
}

@if (Model == null || Model.Count == 0)
{

    <h1>Search results:</h1>
    <hr/>
    <h4>No matches found. Try to use @Html.ActionLink("full search", "FullSearch", "Profile").</h4>
}
else
{
    <h1>Search results:</h1>
    <hr />
    foreach (var item in Model.ToList())
    {
        <div class="row" style="margin-top: 2%">
            <div class="col-md-2">
                <img src="@Url.Action("GetImage", "Profile", new { Id = item.Id })" class="img-circle img-responsive center-block" />
            </div>
            <div class="col-md-4">
                @Html.ActionLink($"{item.FirstName} {item.LastName}", "PresentationOfProfile", "Profile", new { Id = item.Id }, null)
            </div>
            @if(item.Username != User.Identity.Name)
            {
            <div class="col-md-3">
                @Html.ActionLink("Add to friends", "AddFriend", "Friend", new { Id = item.Id }, null)
            </div>
            }
        </div>
    }
}

