@model List<PL.Models.Search.SearchResultViewModel>

@if (Model == null || Model.Count == 0)
{

    <h1>Search results:</h1>
    <hr/>
    <h3>No matches found. Try to use @Html.ActionLink("full search", "FullSearch", "Profile").</h3>
}
else
{
    foreach (var item in Model.ToList())
    {
    <h1>Search results:</h1>
    <br />
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Action("GetImage", "Profile", new { Id = item.PhotoId })" class="img-circle img-responsive center-block" />
        </div>
        <div class="col-md-4">
            @Html.ActionLink($"{item.FirstName} {item.LastName}", "PresentationOfProfile", "Profile", new { Id = item.Id }, null)
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Add to friends", "AddFriend", "Friend", new { Id = item.Id }, null)
        </div>
    </div>
  }
}

