<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<hgroup>
    <h1>The requested page does not exist.</h1>
    <h2>Please go to the FriendBar home page by clicking the button below.</h2>
</hgroup>
    <input class="btn-success btn" onclick="location.href='@Url.Action("Index", "Home")'">Home<input/>
</body>
</html>
