@model List<PL.Models.Profile.PresentationOfProfileViewModel>

@{
    ViewBag.Title = "Friends";
}

@foreach (var item in Model.ToList())
{
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Action("GetImage", "Profile", new { Id = item.Id })" class="img-circle img-responsive center-block" />
        </div>
        <div class="col-md-4">
            @Html.ActionLink($"{item.FirstName} {item.LastName}", "PresentationOfProfile", "Profile", new { Id = item.Id }, null)
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Write a message", "WriteSingleMessage", "Message", new { Id = item.Id }, null)
        </div>
    </div>
}