@model ImageGallery.Models.ImagesListViewModel
@using ImageGallery.HtmlHelpers

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Gallery</h1>
            <button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("UploadImage", "Home")'">Add images</button>
        </div>
    </div>
</div>
<hr />
<div class="container">

    <div class="row text-center">
        
        @foreach (var image in Model.Images)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="@Url.Action("GetFullImage", "Home", new {Id = image.Id})" data-lightbox="roadtrip">
                    <img class="img-thumbnail" src="@Url.Action("GetSmallImage", "Home", new {Id = image.Id})" alt="">
                </a>
            </div>
        }

    </div>
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetImages", new { page = x }))
    </div>
</div>