@model ImageGallery.Models.ImagesListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Gallery</h1>
            <button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("UploadImage", "Home")'">Add images</button>
        </div>
    </div>
</div>
<hr />
<div class="container">

    <div class="row text-center">
        @Html.Partial("~/Views/Home/_Images.cshtml", Model)
    </div>
    <hr/>
    
    <ul class="pager">
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            <li>
                @Ajax.ActionLink(i.ToString(), "Gallery", new { page = i }, 
                    new AjaxOptions { HttpMethod = "GET", OnSuccess = "dataModule.backData" })
            </li>
        }
    </ul>
</div>